[submodule "dynamorio"]
	path = dynamorio
	url = https://github.com/DynamoRIO/dynamorio
	ignore = dirty
[submodule "tests/bins"]
	path = tests/bins
	url = https://gitlab.com/b7-re/b7-test-binaries.git
