language: rust
cache: cargo
rust:
  - stable
  - nightly

matrix:
  fast_finish: true
  allow_failures:
  - rust: nightly

before_install:
  - sudo apt-get install -y -qq linux-tools-common linux-tools-generic
  - sudo apt-get install -y -qq linux-tools-`uname -r`
before_script:
  - rustup component add rustfmt-preview
script:
  - cargo fmt --all -- --check
  - cargo build
  - cargo test
